---
import Layout from '@/layouts/Layout.astro';
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import { Image } from 'astro:assets';

import publicidad from '@/images/GithubPaman00.png';
import violetEvergarden from '@/images/violet-evergarden-img.png';
import dataSena from '@/images/data-sena1.jpg';
---

<Layout
    title="Miguel Ángel García Beltrán"
    description="Conoce más sobre el autor de este sitio. Descubre su biografía, intereses y el porque Violet Evergarden.">
    <Section>
        <Title>Biografía del Autor</Title>
        <div class="m-auto max-w-7xl">
            <article
                id="contentAboutMe"
                class="m-auto max-w-5xl pl-4 lg:float-right lg:w-3/4">
                <div class="rounded bg-white p-8 lg:px-20">
                    <div
                        class="m-auto h-auto max-w-xs overflow-hidden rounded-full lg:float-left lg:w-1/3">
                        <img
                            src="https://unavatar.io/github/angelurano"
                            alt="Foto de social media de Ángel García Beltrán"
                        />
                    </div>
                    <div
                        class="m-auto mt-4 lg:float-left lg:mt-0 lg:w-2/3 lg:pl-10">
                        <h3
                            class="mb-6 border-b border-golden pb-2 text-center text-3xl font-normal text-golden">
                            Ángel García Beltrán
                        </h3>
                        <p class="text-lg">
                            Nací el 7 de agosto de 2004 en Bogotá, Colombia.
                            Desde muy joven, me apasiona la programación. Mi
                            viaje comenzó a los 14 años, cuando empece a
                            programar con C++, y con este lenguaje, participé en
                            las Olimpiadas Colombianas de Computación de primer
                            nivel donde alcancé el cuarto lugar a nivel nacional
                            en 2018; desde entonces, he aprendido muchas
                            tecnologías, lenguajes y conceptos del desarrollo.
                        </p>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div
                    class="mt-4 rounded-t bg-sky-950 p-8 pb-2 text-beige lg:px-20">
                    <div
                        class="m-auto mt-4 lg:float-left lg:m-0 lg:w-2/3 lg:pr-10">
                        <h3
                            class="mb-6 border-b border-golden pb-2 text-center text-3xl font-normal text-golden">
                            Mis aficiones, Violet Evergarden y DATA
                        </h3>
                        <p class="text-lg">
                            En mis momentos de ocio, además de continuar mi
                            desarrollo profesional y personal, encuentro
                            satisfacción en compartir tiempo con mis seres
                            queridos, salir y construir momentos inolvidables.
                        </p>
                        <p class="mt-4 text-lg">
                            Disfrute mucho de "<span class="font-bold italic"
                                >Violet Evergarden</span
                            >", pues tuvo un impacto significativo en mi vida
                            antes, durante y después de la cuarentena del 2020.
                            Su atractivo visual, su estética retrofuturista y,
                            especialmente, su profundo contenido narrativo, me
                            llevaron a conectar de manera intensa con esta
                            serie.
                        </p>
                    </div>
                    <div
                        class="m-auto mt-5 h-auto max-w-xs overflow-hidden rounded-lg lg:float-right lg:w-1/3">
                        <Image
                            src={violetEvergarden}
                            alt="Album Cover of 'Data' "
                        />
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div
                    class="rounded-b bg-sky-950 p-8 pt-4 text-beige lg:px-20 lg:pt-0">
                    <div class="m-auto lg:float-right lg:w-2/3 lg:pl-10">
                        <p class="text-lg">
                            Además, también me gusta mucho la música,
                            especialmente del género Urbano Latino. "<span
                                class="italic">DATA</span
                            >", el proyecto musical del productor puertorriqueño
                            Tainy, ha dejado una huella profunda en mí. Este
                            álbum de reguetón explora de manera creativa sonidos
                            únicos, alejándose de las convenciones del género.
                            Con una estética retrofuturista y cyberpunk, la
                            portada presenta a Sena, un androide que, a través
                            de las canciones del álbum, en medio de un sueño
                            profundo debe aprender a sentir, a empatizar y
                            empoderarse. La ilustración de Sena fue realizada
                            por el artista japonés Hiromasa Ogura, conocido por
                            su trabajo en películas como "<span class="italic"
                                >Ghost in the Shell</span
                            >" y "<span class="italic">Akira</span>".
                        </p>
                    </div>
                    <div
                        class="m-auto mt-4 h-auto max-w-xs overflow-hidden rounded-lg lg:float-left lg:w-1/3">
                        <Image src={dataSena} alt="Album Cover of 'Data' " />
                    </div>
                    <div class="clear-both"></div>
                </div>
            </article>
            <aside
                class="relative m-auto mt-10 w-2/3 overflow-hidden rounded border-2 border-white bg-golden text-center font-mono text-sm text-white duration-200 hover:scale-[101%] lg:float-left lg:mt-2 lg:h-auto lg:w-1/4"
                id="aside-1">
                <div
                    class="absolute right-[3px] top-[3px] w-6 cursor-pointer rounded-sm border bg-white text-black duration-300 hover:border-golden hover:text-golden"
                    id="closeAside-1">
                    <p>X</p>
                </div>
                <a class="block" href="https://github.com/Paman00">
                    <p class="py-1">Publicidad</p>
                    <div>
                        <Image src={publicidad} alt="Github Copilot" />
                    </div>
                    <p class="py-1">¡Mira este perfil de Github!</p>
                </a>
            </aside>
        </div>
    </Section>
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        const closeAside1 = document.getElementById('closeAside-1');
        const aside1 = document.getElementById('aside-1');
        const contentAboutMe = document.getElementById('contentAboutMe');

        closeAside1?.addEventListener('click', () => {
            aside1?.classList.add('hidden');
            contentAboutMe?.classList.remove('lg:float-right');
        });
    });
</script>
